# **Практическое занятие 2: учимся жить с циклами и списками**

## **План семинара**

- Как будет устроено занятие?
- Чего мы хотим добиться сегодня?
- Тезисно вспоминаем основные понятия с лекции
    - Вопросы?
- Решаем задачки
- Подводим итоги

## **Основные понятия с лекции**

## **Циклы**

Позволяют выполнять блок кода несколько раз; есть переменная которая изменяется на каждой *итерации* цикла.

Есть два вида циклов:
- `for`:
``` python
for *любое имя переменной* in range(*положительное целое число*): 
    *код который будет повторяться*
    *код который будет повторяться* 
*код вне цикла*
```
- `while`:
``` python
while *условие*: 
    *код который будет повторяться пока верно условие*
    *код который будет повторяться пока верно условие*
*код вне цикла*
```
Примеры использования, цикл `for`:

In [39]:
for i in range(5):
    print('Это', i, 'раз когда мы выполнили этот блок кода')

Это 0 раз когда мы выполнили этот блок кода
Это 1 раз когда мы выполнили этот блок кода
Это 2 раз когда мы выполнили этот блок кода
Это 3 раз когда мы выполнили этот блок кода
Это 4 раз когда мы выполнили этот блок кода

Цикл `while`:

In [3]:
i = 0
while i < 5:
    print('Это', i, 'раз когда мы выполнили этот блок кода')
    i = i + 1 # можно написать i += 1

Это 0 раз когда мы выполнили этот блок кода
Это 1 раз когда мы выполнили этот блок кода
Это 2 раз когда мы выполнили этот блок кода
Это 3 раз когда мы выполнили этот блок кода
Это 4 раз когда мы выполнили этот блок кода

В `range` можем указывать начало, конец и шаг:
``` python
for *любое имя переменной* range(старт, стоп, шаг): 
    *код который будет повторяться*
```
Можно делать цикл в цикле (*вложенный цикл*):
``` python
for *любое имя переменной* in range(*положительное целое число*): 
    *код который будет повторяться*
    for *любое (другое) имя переменной* in range(*положительное целое число*): 
        *код который будет повторяться вообще много раз*
*код вне цикла*
```

### Ключевые слова в циклах

Можно использовать следующие ключевые слова для большего контроля:
- `continue` используется если нужно пропустить итерацию цикла
- `break` используется если нужно выйти из цикла
- `pass` используется когда ничего делать не надо

# **Списки**

*Списки* (`list` или *листы*) это особый тип данных: в нем может храниться сразу несколько переменных.

Пример списка:

In [44]:
checklist = ['Стаканчики', 'Мандарины', 'Хлеб', 'Колбаса', 'Сыр']

Синтаксис: 
``` python
*список* = [*элемент*, *элемент*, *элемент*]
```

Каждый элемент имеет свой *индекс*, он начинается с нуля и позволяет выбрать нужный нам элемент списка. Обращение по индексу заключается в квадратных скобочках:

In [45]:
for i in range(5):
    print(str(i) + ' элемент списка: ' + checklist[i])

0 элемент списка: Стаканчики
1 элемент списка: Мандарины
2 элемент списка: Хлеб
3 элемент списка: Колбаса
4 элемент списка: Сыр

Для индексирования можно использовать *срезы*:

In [36]:
print('Элементы от нулевого (включительно) до конечного (невключительно): ', checklist[0:2])  
print('То же самое, если считаем от нуля то можно опустить первую цифру в скобках: ', checklist[:2]) 
print('Элементы от второго до последнего (включительно): ', checklist[2:]) 
print('Элементы от второго до последнего (невключительно): ', checklist[2:-1])
print('-1 это последний элемент списка: ', checklist[-1]) # строго говоря это не срез, а просто элемент
print('Можно считать с конца, -2 это предпоследний: ', checklist[-2]) # строго говоря это не срез, а просто элемент
print('Можно индексировать с шагом: ', checklist[0::2])

Элементы от нулевого (включительно) до конечного (невключительно):  ['Стаканчики', 'Мандарины']
То же самое, если считаем от нуля то можно опустить первую цифру в скобках:  ['Стаканчики', 'Мандарины']
Элементы от второго до последнего (включительно):  ['Хлеб', 'Колбаса', 'Сыр']
Элементы от второго до последнего (невключительно):  ['Хлеб', 'Колбаса']
-1 это последний элемент списка:  Сыр
Можно считать с конца, -2 это предпоследний:  Колбаса
Можно индексировать с шагом:  ['Стаканчики', 'Хлеб', 'Сыр']

Можно и так использовать циклы:

In [46]:
for element in checklist:
    print('Элемент списка: ' + element)

Элемент списка: Стаканчики
Элемент списка: Мандарины
Элемент списка: Хлеб
Элемент списка: Колбаса
Элемент списка: Сыр

# **Задания на семинаре  (3 балла)**

За работу на семинаре можно суммарно получить 3 балла, за решение домашнего задания – тоже 3 балла. При этом, количество баллов за задания в сумме превышает 3 балла: это сделано для того, чтобы вы могли выбрать, какие задачи вам решать интересно. Если вы решите задания более чем на 3 балла, то кроме 3 баллов, вы получите только моральное удовлетворение, одобрение преподавателя и больше практики к независимому экзамену в следующем году!

### В ошибках нет ничего страшного

**(0.5 балла)** Студент Айдар помогал младшему брату с его уроками и уставшим делает домашнее задание по программированию. Помогите ему починить следующий участок кода:

In [2]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
# Ваш код

**(0.5 балла)** Студентка Арина подрабатывает учебной ассистенткой и устала отвечать на вопросы студентов в телеграме. Она очень устала и не понимает в чем ошибка. Она пытается вывести нулевой элемент списка, но что-то идет не так:

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
print(l(0))

TypeError: 'list' object is not callable

**(0.5 балла)** Студентка Саша работает в студсовете и защищает права студентов, поэтому ей приходится делать домашнее заданее в последний момент. Помогите ей найти ошибку в коде:

In [1]:
i = 0
j = 0
for i in range(10):
    for i in range(10):
        print(str(i) + 'x' + str(j) + ' = ' + str(i*j))

0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0
0x0 = 0
1x0 = 0
2x0 = 0
3x0 = 0
4x0 = 0
5x0 = 0
6x0 = 0
7x0 = 0
8x0 = 0
9x0 = 0

### Нам нужны только самые четные

**(1 балла)** Посчитайте сумму всех элементов списка используя цикл `for`:

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

sum_of_elements = 0

# Ваш код

**(1 балла)** Посчитайте сумму **только четных** элементов списка используя цикл `for`:

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

sum_of_elements_even = 0

# Ваш код

### Хде мой миленькый живет!

**(1.5 балла)** В мультфильме "Волшебное кольцо" принцесса обманным путем завладела кольцом и [попросила поставить ее вместо с хоромами посреди городу Парижу](https://www.youtube.com/watch?v=fHVQSE0Iajc), где жил ее настоящий возлюбленный, а не главный герой. Мы не знаем правильно ли она поступила, но в рамках ответа на этот вопрос попробуем сравнить климат Парижа и Москвы. 

У вас есть три списка: названия месяцев и средняя температура в градусах по Цельсию в каждом месяце. Используя циклы, выведите строчку вида:

`'В *название месяца* в Париже *столько* градусов, а в Москве *столько*'`

In [10]:
months = ['Январь', 'Февраль,', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
temp_moscow = [-6.2, -5.9, -0.7, 6.9, 13.6, 17.3, 19.7, 17.6, 11.9, 5.8, -0.5, -4.4] 
temp_paris = [4.9, 5.6, 8.8, 11.5, 15.2, 18.3, 20.5, 20.3, 16.9, 13.0, 8.3, 5.5]

# Ваш код

✨ **(1 балла)** А что было бы если "Волшебное кольцо" сняли в США? Сделайте то же самое, но переведите температуру в [Фаренгейты](https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D0%B4%D1%83%D1%81_%D0%A4%D0%B0%D1%80%D0%B5%D0%BD%D0%B3%D0%B5%D0%B9%D1%82%D0%B0) и выведите ее в Фаренгейтах:

In [ ]:
# Ваш код

# **Домашнее задание (3 балла)**

### Цифры цифры цифирки 2

**(1 балл)** Напишите алгоритм который выводит каждую цифру четырехзначного числа отдельно, но уже с помощью индексирования строк!

<p>
<details>
<summary> <u> Подсказка 1: </u> </summary>

```python
number_str = str(number)

```

</details>
</p>

In [11]:
number = 1377

# Ваш код

### Ееееесть есть есть

**(0.5 балла)** Запишите формулу 
$$
y = (x + \frac{1}{x})^x
$$

In [ ]:
x = 5
y =

**(1.25 балла)** С помощью цикла выведите значение `y` при `x` равном от `1` до `10000`:

In [ ]:
# Ваш код

✨ **(без балла)** Что замечательного в получившимся числе?

### Население городов миллионников

**(1.25 балла)** Вы нашли сайт, на котором лежит самая точная информация о населении городов милионников, а вам необходимо посчитать суммарное население городов милионников России кроме Москвы и Санкт-Петербурга. Однако, эта информация находится в строках вида:

`В (три первые буквы названия города) живет (население) человек.`

Посчитайте суммарное количество людей, живущих в этих городах:

In [9]:
cities = ['В Нов. живет 1633595 человек.',
          'В Ека. живет 1588665 человек.',
          'В Каз. живет 1308660 человек.',
          'В Ниж. живет 1249861 человек.',
          'В Чел. живет 1189525 человек.',
          'В Кра. живет 1188533 человек.',
          'В Сам. живет 1173393 человек.',
          'В Уфа. живет 1144809 человек.',
          'В Рос. живет 1142162 человек.',
          'В Омс. живет 1125695 человек.',
          'В Кра. живет 1204878 человек.',
          'В Вор. живет 1057681 человек.',
          'В Вол. живет 1028036 человек.',
          'В Пер. живет 1034006 человек.']

# Ваш код

### Экстремальные значения

Найдите минимальное **(0.75 балла)** и максимальное **(0.75 балла)** значения списка. Используйте **только полученные в рамках курса знания**.

In [34]:
min_max = [4, 0.1, 20, -10, -3, 49, 938, 1000.1, -300, 84, 120, 58939/38]

# Ваш код

### ✨✨ Самое большое простое число

**(Без балла)** Студент Кирилл задумался: какое самое большое простое число в мире? Для того чтобы помочь ему ответить на этот вопрос, нужно сначала написать алгоритм, который находит все делители заданного числа.

In [32]:
number = 371

# Ваш код

Используя предыдущие достижения, проверим является ли заданное число простым:

In [ ]:
# Ваш код

Выведите все простые числа от `1` до `10000`:

In [ ]:
# Ваш код

<p>
<details>
<summary>  ✨✨✨✨✨ <b> (Без балла) </b> <u> Очень сложное задание </u> </summary>

Известно, что количество простых чисел на отрезке [1, n] ведет себя как $n/ln(n)$ на больших числах. Однако, можно найти поправку B к этой формуле: $\frac{n}{ln(n)-B}$. Используя `python` и регрессии из разных пакетов (`scipy`, `numpy`) найдите оптимальное значение B, которое максимально хорошо описывает это распредление. Это **очень** сложное задание.

</details>
</p>

### ✨✨ Полный пипец

**(Без балла)** Посчитайте значение формулы для любого натурального числа `n`:
$$
y = 4\frac{(-1)^n}{2n+1}
$$

In [ ]:
# Ваш код

Сложите все `y` для `n` равных от единицы до `10000`. Что за число получилось?

In [ ]:
# Ваш код

### ✨✨✨ Небинарные движения

**(Без балла)** Механик Зеленый прилетел на планету Железяку к роботам. Большинство роботов пишут цифры в бинарном коде, а механик Зеленый сходу их не понимает. Помогите написать программу, которая переведет бинарные числа в десятичные. Используйте только знания полученные в рамках нашего курса.

<p>
<details>
<summary> <u> Подсказка 1: </u> </summary>

```python
number = int(string) # функция для перевода строк в integer

```

</details>
</p>

In [35]:
sample_bin = '10100100000'

# Ваш код